/* header.css */

body {
  background-color: black;
  color: #ffd000;
}

.navbar {
  position: sticky;
  text-align: right;
  top: 0;
  width: 100%;
  z-index: 9999; /* Bring the navbar to the forefront */
  background-color: black !important; /* Ensure fully black background */
  color: white;
  box-sizing: border-box; /* Avoid layout issues */
  transition: background-color 0.3s ease; /* Smooth background transition */
}

.navbar-blur {
  backdrop-filter: blur(10px);
  opacity: 0.95;
}

.navbar-nav .nav-link {
  color: white !important; /* Ensure links are visible */
  font-size: 25px;
}
.navbar-nav .nav-link:hover {
  color: #ffd000; /* Highlight color for links on hover */
}

img {
  border-radius: 25px;
  margin-right: 20px;
}

.hero-container {
  width: 45%; /* Adjust the width as needed */
  max-width: 100%; /* Ensure it doesn't exceed the screen width */
  background-color: #212529;
  color: white;
  display: flex;
  flex-direction: row; /* Set direction to row */
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  margin: 40px auto; /* Center the container horizontally */
  padding: 15px; /* Added padding for better spacing */
  transition: transform 0.2s, box-shadow 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hero-container:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 208, 0, 0.3);
}

.hero-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text {
  text-align: left;
  font-family: cursive;
}

.web-developer {
  margin-top: 15px;
  font-style: italic;
  font-size: 18px;
  font-family: Arial, sans-serif;
}

.vertical-line {
  border-left: 2px solid #ffd000;
  height: 150px;
  margin: 0 20px;
}

.social-links {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  width: auto;
  margin-left: 20px;
  flex-direction: column;
}

.social-links > div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.social-links svg {
  margin-right: 5px;
  margin-top: -12px;
  color: #ffd000;
}

@media (max-width: 992px) {
  .hero-container {
    width: 70%;
  }

  .navbar-nav .nav-link {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  body {
    background-color: black;
  }
  .navbar {
    background-color: black !important;
    flex-direction: column;
    padding: 15px;
  }
  .hero-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
  }

  .hero-text {
    text-align: center;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .vertical-line {
    display: none;
  }

  .social-links {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }

  .social-links > div {
    margin-right: 0;
  }

  .navbar-nav .nav-link {
    font-size: 18px;
  }
}
